/* to remove the top and left whitespace */
* { 
    margin:0; 
    padding:0; 
} 

/* Style for all links */

a:link {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

a:active {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

a:visited {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

a:hover {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

#definition {
    width: 390px;
}

#deftextbox {
    height: 400px;
    width: 390px;
}

body {
    background-color:rgb(100, 100, 100);
    font-family: sans-serif;
    font-family: courier;
    color: rgb(255, 255, 255);
    display:block;
    position:fixed;
    padding:0px;
    margin:0px;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    overflow:hidden;
}

#tape {
    float: right;
    width:390px;
}

#finalTape {
    padding:15px;
    font-size:15px;
    vertical-align:center;
    overflow-x:scroll;
}

.box {
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(200, 200, 200);
    border: 2px solid orange;
    display: block;
    color: #000000;
}

#tmCanvas {
    width: 800px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
}

.bar {
    background: #ABABAB;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
    background-color: rgb(50, 50, 50);
}

.title1 {
    z-index:10;
    text-align:center;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    position: absolute;
    right: 0px;
    top: 0px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    text-align:center;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    background: #ABFBAB;
    z-index:15;
    font-size:16px;
    background-color:orange;
}

.button1 {
    border-radius:3px;
    min-width:50px;
    max-width:250px;
    padding:8px;
    background-color: rgb(50, 50, 50);
    text-align:center;
    color:#FFFFFF;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}

#main {
    width:800px;
    margin-left:auto;
    margin-right:auto;
}

.popup {
    overflow-y:scroll;
    width: 600px;
    min-height: 30px;
    color: #000000;
    background-color: rgb(200, 200, 200);
    border-style:solid;
    border-width:2px;
    border-color: orange;
    margin:0px;
    position:fixed;
    text-align:center;
    margin-left:-300px;
    margin-top:-200px;
    left:50%;
    right:50%;
    top:50%;
    box-shadow: 0px 0px 45px #000000;
    padding:25px;
    visibility:hidden;
}

